/* MAIN */
/**
 * Basic styles for links
 */
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #1c3940;
  cursor: pointer;
  font-size: 22px;
  margin: 10px;
}
@media screen and (max-width: 768px) {
  a {
    font-size: 18px;
  }
}
@media screen and (max-width: 320px) {
  a {
    font-size: 15px;
  }
}

a:hover {
  text-decoration: underline;
}

.heading_h2 {
  font-size: 70px;
}
@media screen and (max-width: 768px) {
  .heading_h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 320px) {
  .heading_h2 {
    font-size: 30px;
  }
}

.heading__h3 {
  font-size: 40px;
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  .heading__h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 320px) {
  .heading__h3 {
    font-size: 20px;
  }
}
.heading__h3--variable {
  font-size: 40px;
  color: rgb(237, 237, 237);
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .heading__h3--variable {
    font-size: 25px;
  }
}
@media screen and (max-width: 320px) {
  .heading__h3--variable {
    font-size: 20px;
  }
}

.heading__h4 {
  font-size: 25px;
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  .heading__h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  .heading__h4 {
    font-size: 15px;
  }
}

.section__text {
  padding: 8px 0;
  font-size: 18px;
  font-weight: 200;
  text-justify: newspaper;
}
@media screen and (max-width: 768px) {
  .section__text {
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  .section__text {
    font-size: 12px;
  }
}
.section__text--variable {
  color: rgb(237, 237, 237);
  margin: 18px 35px;
}
.section__text--remarkable {
  color: #77a6a1;
}

.small__text {
  font-size: 18px;
  font-weight: 300;
  margin: 5px 30px;
  text-justify: newspaper;
}
@media screen and (max-width: 768px) {
  .small__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .small__text {
    font-size: 12px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #b4d9d5;
  color: #1c3940;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: url("../../assets/hero_index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .header {
    height: 250px;
  }
}
.header__title {
  padding: 40px 70px;
  text-shadow: 6px 6px 8px #000000;
}
.header__title--principal {
  margin-bottom: 30px;
  font-size: 40px;
  color: rgb(237, 237, 237);
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  .header__title--principal {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 320px) {
  .header__title--principal {
    font-size: 15px;
  }
}
.header__title--secundario {
  font-size: 65px;
  color: rgb(237, 237, 237);
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .header__title--secundario {
    font-size: 50px;
  }
}
@media screen and (max-width: 420px) {
  .header__title--secundario {
    font-size: 30px;
  }
}

.footer {
  height: 40px;
  bottom: 0;
  text-align: center;
}
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__icon {
  color: #1c3940;
  margin: 20px;
  font-size: 28px;
}

.navbar {
  padding: 0 20px;
  background-color: #1c3940;
  font-weight: 300;
  font-family: 18px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
  .navbar__container {
    display: none;
  }
}
.navbar__container--desktop {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar__container--mobile li {
  padding: 5px;
  margin-left: 10px;
  margin: 50px;
  margin-bottom: 10px;
}
.navbar__container--mobile {
  display: none;
  position: absolute;
  font-family: 20px;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  background-color: #1c3940;
}
.navbar__item {
  color: #b4d9d5;
  font-size: 20px;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .navbar__item {
    font-size: 30px;
  }
}
.navbar ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.navbar__hamburger {
  margin: auto 0;
  display: none;
  cursor: pointer;
}
.navbar__hamburger div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.open .navbar__hamburger--bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .navbar__hamburger--bar2 {
  opacity: 0;
}
.open .navbar__hamburger--bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
@media only screen and (max-width: 600px) {
  .navbar__hamburger {
    display: block;
  }
}

.open .navbar__container--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.button {
  background-color: #77a6a1;
  color: #1c3940;
  font-size: 18px;
  border: none;
  font-weight: 400;
  padding: 12px 24px;
  border-radius: 0.2em;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  box-shadow: 2px 2px #1c3940;
}
.button:hover {
  background-color: #3d7373;
  transform: scale(1.1);
}
@media screen and (max-width: 420px) {
  .button {
    font-size: 16px;
    padding: 14px 20px;
  }
}

.section-home {
  text-align: center;
  margin: 40px 0;
}
.section-home__date {
  margin: 30px;
}

.section-goals__container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.section-goals__icon {
  color: #1c3940;
  margin: 40px;
  font-size: 48px;
}
@media screen and (max-width: 768px) {
  .section-goals__icon {
    font-size: 30px;
    margin: 10px;
    height: auto;
  }
}
@media screen and (max-width: 320px) {
  .section-goals__icon {
    font-size: 20px;
  }
}

.section-resumen {
  background-color: #1c3940;
  color: #77a6a1;
  text-align: center;
  padding: 20px 0 80px 0;
}
.section-resumen__container {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .section-resumen__container {
    flex-direction: column;
    margin: 10px;
    padding: 5px;
  }
}
@media screen and (max-width: 320px) {
  .section-resumen__container {
    flex-direction: column;
  }
}
.section-resumen__img {
  width: 70%;
  box-shadow: 0 6px 12px 0 #1c3940;
}
@media screen and (max-width: 768px) {
  .section-resumen {
    height: auto;
  }
}
@media screen and (max-width: 320px) {
  .section-resumen {
    height: auto;
  }
}

.section-maestres {
  margin: 20px;
  text-align: center;
}
.section-maestres__container {
  margin: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-maestres__images {
  display: flex;
  width: 900px;
  height: 530px;
}
.section-maestres__img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.4s ease-in-out;
}
.section-maestres__img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
.section-maestres__list {
  font-size: 20px;
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .section-maestres__list {
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  .section-maestres__list {
    font-size: 8px;
  }
}
.section-maestres span {
  font-weight: 700;
}

.section-tickets {
  background-color: #1c3940;
  color: #77a6a1;
  text-align: center;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .section-tickets {
    padding-top: 10px;
  }
}
.section-tickets__subtitle {
  color: rgb(237, 237, 237);
  margin: 20px;
  font-size: 18px;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .section-tickets__subtitle {
    font-size: 16px;
  }
}
.section-tickets__container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section-tickets__card {
  text-align: start;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #f3eee2;
  height: 400px;
  width: 420px;
  padding: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 99;
}
.section-tickets__card--title {
  color: #1c3940;
  font-size: 25px;
  font-weight: 700;
  margin: 25px 10px;
}
@media screen and (max-width: 768px) {
  .section-tickets__card--title {
    font-size: 18px;
    margin: 10px 2px;
  }
}
.section-tickets__card--list {
  list-style: none;
  font-size: 18px;
  height: 180px;
}
.section-tickets__card--list li {
  display: flex;
}
.section-tickets__card--footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: center;
  justify-content: space-between;
  margin-top: 40px;
}
.section-tickets__card--price {
  color: #1c3940;
  margin-left: 15px;
  font-size: 30px;
}
.section-tickets__img {
  width: 100%;
  max-height: 300px;
  background-repeat: no-repeat;
  background-position: top;
}

.icon {
  margin: 2px 15px 5px 10px;
  font-size: 25px;
  color: #1c3940;
}

.section-contacto {
  background-color: #1c3940;
  color: #77a6a1;
  text-align: center;
  padding: 50px 0;
}
@media screen and (max-width: 768px) {
  .section-contacto {
    padding-top: 10px;
  }
}
.section-contacto__container {
  margin: 30px;
  display: flex;
  justify-content: space-around;
}
.section-contacto__container div {
  max-width: 600px;
}
.section-contacto__container--list {
  list-style: none;
  font-size: 18px;
  height: 180px;
  margin: 40px;
}
.section-contacto__container--list li {
  display: flex;
  margin: 40px 0;
}
.section-contacto__container--list p {
  margin-left: 10px;
  color: rgb(237, 237, 237);
  font-size: 16px;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .section-contacto__container--list p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
