.header {
  background-image: url("../../assets/hero_index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  text-align: center;

  @media screen and (max-width: 768px) {
    height: 250px;
  }

  &__title {
    padding: 40px 70px;
    text-shadow: 6px 6px 8px #000000;

    &--principal {
      margin-bottom: 30px;
      font-size: 40px;
      color: $light-grey;
      font-weight: 100;
      @media screen and (max-width: 768px) {
        font-size: 30px;
        margin-bottom: 10px;
      }

      @media screen and (max-width: 320px) {
        font-size: 15px;
      }
    }

    &--secundario {
      font-size: 65px;
      color: $light-grey;
      font-weight: 500;

      @media screen and (max-width: 768px) {
        font-size: 50px;
      }

      @media screen and (max-width: 420px) {
        font-size: 30px;
      }
    }
  }
}
