.section-goals {
  &__container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__icon {
    color: $brand-color;
    margin: 40px;
    font-size: 48px;

    @media screen and (max-width: 768px) {
      font-size: 30px;
      margin: 10px;
      height: auto;
    }
    @media screen and (max-width: 320px) {
      font-size: 20px;
    }
  }
}
