.section-maestres {
  margin: 20px;
  text-align: center;
  &__container {
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__images {
    display: flex;
    width: 900px;
    height: 530px;
  }

  &__img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.4s ease-in-out;

    &:hover {
      cursor: crosshair;
      width: 300px;
      opacity: 1;
      filter: contrast(120%);
    }
  }
  &__list {
    font-size: 20px;
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
    @media screen and (max-width: 320px) {
      font-size: 8px;
    }
  }

  span {
    font-weight: 700;
  }
}
